= bootstrap_carousel(autostart: options[:autostart], interval: (options[:interval] * 1000), id: dom_id(carousel)) do |c|
  - carousel.item_details.each do |item_detail|
    - c.add_item(image_source: main_app.url_for(item_detail.asset.variant(carousel.variant_options)), caption: markup_helper(self).render(item_detail, :body))